<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="landing.css">
        <div id="headstyle"><h1>{{pageTitle}}</h1>
        <nav>
            <ul>
            <li><a href="/greet">Grumpy Greetings</a></li>
            <li><a href="/projects">Other Projects</a></li>
            <li><a href="/moz">Morrisey Quote Generator(nsfw)</a></li>
            </ul>
        </nav>
        </div>
    </head>
    <body>
        <div>
        <div class="wordbox" id="intro">
            <p>Hi! I'm Angelo Barbano and I would love to help you with all your technology needs!</p>
        </div>
        <div class="wordbox" id="services"><p>My specialty is web development and technical support. </p>
        </div>
        <div class="wordbox" id="contact"><p>Let's work together! Contact me and we'll get you to where you need to be!</p></div>
        </div>
    </body>
</html>