<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{> header}}
    <p>Yo you gotta leave, I gotta do some maintenance!</p>
  {{> footer}}
  </body>
</html>