<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href='blue.css'>
    <title>Project Test</title>
  </head>
  <body>
    {{> header}}
    <p>Portfolio of projects both real and imagined.</p>
  {{> footer}}
  </body>
</html>