body{
    text-align:center;
    font-family: sans-serif;
    background-color: #d5d5d5;
}
navbar{
    background-color: teal;
    
}
#intro{
    background-color: #FC4A1A;

}

#services{
    background-color: white;
}

#contact{

}