body{
    text-align:center;
    font-family: sans-serif;
    background-color: #d5d5d5;
}
navbar{
    background-color: white;
    
}
#intro{
    background-color: white;
    border-style: groove;
    border-width: 5px;
    border-color: #9099A2;
    max-width:75%;
    justify-content: center;
    box-align: center;
}



#services{
    
    background-color: white;
    border-style: groove;
    border-width: 5px;
    border-color: #9099A2;
    max-width:75%;
    justify-content: center;
    box-align: center;
}

#contact{
    background-color: white;
    border-style: groove;
    border-width: 5px;
    border-color: #9099A2;
    max-width:75%;
    justify-content: center;
    box-align: center;
}

}